  text-align:center;
}
h1{ /* color for the heading <h1>*/
  color: black;
  font-family: cursive,ariel;
  font-size: 50px;
}
h2{ /* color of the smaller heading <h2>*/
  color: maroon;
  font-family: fangsong,ariel;
  font-size: 45px;
}
h3{ /*color for the value of <h3>*/
  color: grey;
  font-family: cursive;
  font-size: 25px;
}
p{
  color: black; /* color of the normal <p> text*/
  font-family: system-ui,ariel;
  font-size: 17px;
}
.dark-background{ /* this is the color of the background*/
  background-color:floralwhite ;
  color: orange;
}
.wrapper{ /* here are the values for the wrapper value*/
  width: 400px;
  margin: auto;
}
.box{                                /* this is the box function for the margins*/ 
  margin: 25px 15px 20px 12px;
  padding: 40px 20px 40px 20px;
  height: 40px 20px 40px 20px
}
a: link{           /* this is where i added the elements for the stylized link */
  color:black;
}
a:visited{
  color: black;
}
a:hover{
  color: yellow
}
ul.myUL{
  display: inline-block;
    text-align: center;
}
